<!-- NAV BAR -->
{{> navbar_partial}}
<!-- NAV BAR -->

<h1>SDIT Academic Database</h1>

<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h2>Instructors</h2>
        <p>Table that records information about our instructors.</p>
        <a href="/instructors" class="btn btn-primary">Manage Instructors</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h2>Courses</h2>
        <p>Table that records course details.</p>
        <a href="/courses" class="btn btn-primary">Manage Courses</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h2>Textbooks</h2>
        <p>Table that records textbook information.</p>
        <a href="/textbooks" class="btn btn-primary">Manage Textbooks</a>
      </div>
    </div>
  </div>
</div>

<br />

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h2>Students</h2>
        <p>Table that records information about our students.</p>
        <a href="/students" class="btn btn-primary">Manage Students</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h2>Courses_Students</h2>
        <p>Table that records the course and student relationship.</p>
        <a href="/courses-students" class="btn btn-primary">Manage Course-Student Relationship</a>
      </div>
    </div>
  </div>
</div>